.App {
  text-align: center;
}

h2 {
  color: black;
  font-size: 26px;
  font-family: "Karla", sans-serif;
  transition: all 0.4s ease 0s;
}

button {
  background-color: white;
  border-radius: 12px;
  color: #008b8b;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  transition: all 0.4s ease 0s;
}

button:hover {
  color: black;
  background: #f6b93b;
  border-color: #f6b93b;
  transition: all 0.4s ease 0s;
}
